<ul>
<li>
<%= form.label :first_name, "First Name" %>
<%= form.text_field :first_name %>
</li>
<li>
<%= form.label :middle_name, "Middle Name" %>
<%= form.text_field :middle_name %>
</li>
<li>
<%= form.label :last_name , "Last Name" %>
<%= form.text_field :last_name %>
</li>
<li>
<%= form.label :phone_number, "Phone Number" %>
<%= form.text_field :phone_number %>
</li>
<li>
<%= form.label :email, "Email" %>
<%= form.text_field :email  %>
</li>
<li>
<%= form.label :street_address,  "Address" %>
<%= form.text_field :street_address %>
</li>
<li>
<%= form.label :city,"City" %>
<%= form.text_field :city %>
</li>
<li>
<%= form.label :city, "State" %>
<%= form.text_field :city %>
</li>
<li>
<%= form.label :postal_code, "Post Code" %>
<%= form.text_field :postal_code %>
</li>
<li>
<%= form.label :country, "Country" %>
<%= form.text_field :country %>
</li>
</ul>
<%= form.submit %>

