<ul>
<li>
<%= form.label "First Name" %>
<%= form.text_field :first_name %>
</li>
<li>
<%= form.label "Middle Name" %>
<%= form.text_field :middle_name %>
</li>
<li>
<%= form.label "Last Name" %>
<%= form.text_field :last_name %>
</li>
<li>
<%= form.label "Phone Number" %>
<%= form.text_field :phone_number%>
</li>
<li>
<%= form.label "Email" %>
<%= form.text_field :email  %>
</li>
<li>
<%= form.label "Address" %>
<%= form.text_field :street_address %>
</li>
<li>
<%= form.label "City" %>
<%= form.text_field :city %>
</li>
<li>
<%= form.label "State" %>
<%= form.text_field :state %>
</li>
<li>
<%= form.label "Post Code" %>
<%= form.text_field :postal_code %>
</li>
<li>
<%= form.label "Country" %>
<%= form.text_field :country %>
</li>
</ul>
<%= form.submit %>

