<table class="results"> 
	<tr class="results-headers">
		<th> <%= link_to "First Name", contacts_path(:order => "first_name") %> </th>
		<th> <%= link_to "Last Name", contacts_path(:order => "last_name") %>  </th>
		<th> <%= link_to "Email", contacts_path(:order => "email") %>  </th>
		<th> <%= link_to "Phone", contacts_path(:order => "phone_number") %>  </th>
		<th> <%= link_to "Location", contacts_path(:order => "city") %>  </th>
		<th> View </th>
		<th> Edit </th>
	</tr>
<% @contacts.each do |contact| %>
	<tr class="results-entry" id=<%="results-entry-"+"#{contact.id}" %> >
		<td> <%= contact.first_name %> </td>
		<td> <%= contact.last_name %> </td>
		<td> <%= mail_to contact.email %> </td>
		<td> <%= contact.phone_number %> </td>
		<td> <%= contact.city %>, <%= contact.state %>, <%= contact.country %></td>
		<td> <%= link_to "View", contact_path(contact) %> </td>
		<td> <%= link_to "Edit", edit_contact_path(contact) %> </td>
	</tr>


<% end %>
</table>
<%= will_paginate @contacts %>


