<table class="results"> 
	<tr>
		<th> First Name </th>
		<th> Last Name </th>
		<th> Email  </th>
		<th> Phone </th>
		<th> View </th>
		<th> Edit </th>
	</tr>
<% @contacts.each do |contact| %>
	<tr class="results-entry">
		<td> <%= contact.first_name %> </td>
		<td> <%= contact.last_name %> </td>
		<td> <%= mail_to contact.email %> </td>
		<td> <%= contact.phone_number %> </td>
		<td> <%= link_to "View", contact_path(contact) %> </td>
		<td> <%= link_to "Edit", edit_contact_path(contact) %> </td>
	</tr>


<% end %>
</table>
<%= button_to "Add New Contact", new_contact_path, :method => :get %> 

<%= form_for :contact, url:{controller:'contacts', action: "find" }, method: "get" do  |f| %>
  
  <%=f.label "Find by name"  %>
  <%= f.text_field :first_name  %>

  <%= submit_tag %>


<% end %>

