<table> 
<% @contacts.each do |contact| %>
	<tr>
		<td> <%= contact.first_name %> </td>
		<td> <%= contact.email %> </td>
		<td> <%= contact.last_name %> </td>
		<td> <%= contact.phone_number %> </td>
		<td> <%= link_to "View", contact_path(contact) %> </td>
		<td> <%= link_to "Edit", edit_contact_path(contact) %> </td>
	</tr>


<% end %>
</table>
<%= link_to "New", new_contact_path  %> 

<%= form_for :contact, url:{controller:'contacts', action: "find" }, method: "get" do  |f| %>
  
  <%=f.label "Find by name"  %>
  <%= f.text_field :first_name  %>

  <%= submit_tag %>


<% end %>

