<ul>
<li> <%= @contact.first_name %> </li>
<li> <%= @contact.last_name %> </li>
<li> <%= @contact.phone_number %> </li>
<li> <%= @contact.email %> </li>
<li> <%= @contact.street_address %> </li>
<li> <%= @contact.postal_code %></li>
<li> <%= @contact.state %></li>
<li> <%= @contact.country %></li>
</ul>