<!DOCTYPE html>
<html>
<head>
  <title>ContactManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, message | %>
<div class="alert flash <%= type %>">
<%= message %>
</div>

<% end %>

<nav>

<%= button_to "Add New Contact", new_contact_path, :method => :get %> 

<%= form_tag({controller:'contacts', action: "find" }, method: "get",) do %>
  
  <%=label_tag(:first_name , "Find by first name") %>
  <%=search_field(:contact, :first_name )  %>

  <%= submit_tag "search" %>

 </nav>


<% end %>

<%= yield %>

</body>
</html>
