<!DOCTYPE html>
<html>
<head>
  <title>ContactManager</title>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, message | %>
<div class="alert flash <%= type %>">
<%= message %>
</div>

<% end %>

<nav>

<%= button_to "Add New Contact", new_contact_path, :method => :get %> 


 </nav>

<container>


<%= yield %>

</container>

</body>
</html>
